rapidoid
/**/*.o
/**/*.idea
/**/target
/**/*.iml
/**/*bak*
/**/build
/**/*.class
/**/.settings
/**/.project
/**/.mvn

/**/*pid*.log

cutoff/.git*
cutoff/*.txt

/**/.gradle
/**/.classpath
/**/.DS_Store
/**/bak
/**/.vscode
